<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.raegdan.bbstalker"
    android:versionCode="1017"
    android:versionName="1.7" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme"
        android:name="BBStalkerApplication">
        <activity
            android:name="org.raegdan.bbstalker.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.raegdan.bbstalker.DBListActivity" 
        	android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="org.raegdan.bbstalker.ConfigActivity"
            android:label="@string/title_activity_config" 
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="org.raegdan.bbstalker.WavesActivity"
            android:label="@string/title_activity_waves"
            android:configChanges="orientation|screenSize" >
        </activity>
    </application>

</manifest>
